# SwiftFormat — Diverge SDK
--swiftversion 5.9
--indent 4
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--closingparen balanced
--commas inline
--trimwhitespace always
--stripunusedargs closure-only
--header ignore
--exclude .build,.swiftpm,Docs
